<html>
  <head>
    <title>minecraft.zinglax</title>
    <meta name="theme-color" content="#00BB00">
    <link rel="manifest" href="/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="/images/creeperface.jpg">

    {% include "js.html" %}
    {% include "css.html" %}
    

  </head>
  <body>
  <center>

<h1>NOWWW</h1>
<p>
hey

</p>

<button id="enable_push_btn" class="js-push-button" disabled>
Enable Push Messages  
</button>

</center>
</body>


</html>