
h1 { font-family: 'Pacifico', Arial, serif; font-weight: 400; 
	font-size: 50px;
}

#ascii_logo {
	font-size: 2px;
}


h3 { font-family: 'Bangers', Arial, serif; font-weight: 400; 
	font-size: 24px;
	}

pre {
	border: 2px solid #0f0;	
	font-size: 14px;
}

.CodeMirror-vscrollbar {
	overflow-y: hidden;
}

/*p { font-family: 'Allerta Stencil', Arial, serif; font-weight: 400; }*/

.js-push-button { font-family: 'Limelight', Arial, serif; font-weight: 400; }


p { font-family: 'Arvo', Arial, serif; font-weight: 400; }


::selection {
background:#00FF00;
color: #000;
}
::-moz-selection {
background:#00FF00;
color: #000;
}
::-webkit-selection {
background:#00FF00;
color: #000;
}

span.nav1 {
	color:#00FF00;
	font-size: 30px;
	float: left;
	padding: 5px;
}